.contProPage {
   padding: 0 60px;
}
.ProPage {
   background: #ffffff;
   margin: 0 auto;
   display: flex;
   align-items: center;
   height: 600px;
   max-width: 1200px;
   border-radius: 20px;
}
.contProfile {
   width: 40%;
}
.contProfile img {
   margin: 0 auto 20px auto;
   display: flex;
   width: 300px;
   border-radius: 10px;
}
.bar {
   font-size: 30px;
   width: 200px;
   display: flex;
   margin: 0 auto;
   align-items: center;
   color: #000000;
}
.progress {
   margin-left: 10px;
   height: 12px;
   width: 150px;
   border: 2px solid #000000;
   border-radius: 2px;
}
.color1 {
   height: 100%;
   width: 90%;
   background: #000000;
}
.color2 {
   height: 100%;
   width: 40%;
   background: #000000;
}
.color3 {
   height: 100%;
   width: 70%;
   background: #000000;
}
.color4 {
   height: 100%;
   width: 80%;
   background: #000000;
}
.color5 {
   height: 100%;
   width: 90%;
   background: #000000;
}
/*/////////////////////////////////////*/
.presentation {
   width: 60%;
   padding: 0 40px;
}
.boniText h1 {
   color: #000000;
   font-size: 30px;
   line-height: 0;
   word-spacing: 2px;
   letter-spacing: 2px;
   padding: 20px 0;
   font-weight: 500;
}
.boniText h2 {
   color: #000000;
   font-size: 20px;
   font-style: italic;
   font-weight: 400;
}
.boniText div {
   margin: 10px 0;
   border-radius: 20px;
   height: 2px;
   width: 200px;
   background: #000000;
}
.boniText p {
   color: #000000;
   font-size: 18px;
   font-weight: 300;
}
.boxContact {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.contact {
   background: #ffffff;
   font-size: 20px;
   display: flex;
   justify-content: center;
   line-height: 0;
   align-items: center;
   border: 3px solid #000000;
   height: 50px;
   width: 200px;
   border-radius: 5px;
}
.contact:hover {
   cursor: pointer;
   background: #000000;
   color: #ffffff;
}
.contact p {
   margin-right: 10px;
}
.mail {
   font-size: 30px;
}
.whats {
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
   color: #ffffff;
   height: 50px;
   width: 50px;
   border-radius: 5px;
   background: #000000;
}
.whats:hover {
   background: #ffffff;
   color: #000000;
   border: 3px solid #000000;
}
@media (max-width: 1024px) {
   .ProPage {
      height: 500px;
   }
   .contProfile img {
      width: 200px;
   }
   .presentation {
      padding: 0 20px;
   }
   .boniText h1 {
      font-size: 25px;
   }
   .boniText h2 {
      font-size: 18px;
   }
   .boniText p {
      font-size: 15px;
   }
   .contact {
      font-size: 18px;
      display: flex;
      height: 40px;
      width: 190px;
   }
   .mail {
      font-size: 28px;
   }
   .whats {
      font-size: 25px;
      height: 40px;
      width: 40px;
   }
}
@media (max-width: 720px) {
   .contProPage {
      padding: 0 20px;
   }
}
@media (max-width: 600px) {
   .contProPage {
      padding: 0 10px;
   }
   .ProPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .presentation {
      width: 100%;
      padding: 0 20px 5px 20px;
   }
   .contProfile {
      padding-top: 20px;
      width: 100%;
      display: flex;
      margin: 0 auto;
      align-items: center;
   }
   .boniText h1 {
      padding: 10px;
      font-size: 18px;
   }
   .boniText h2 {
      font-size: 14px;
   }
   .boniText p {
      font-size: 12px;
   }
   .boniText div {
      margin: 5px 0;
   }
   .contact {
      font-size: 16px;
      height: 30px;
      width: 145px;
      border: 2px solid #000000;
   }
   .mail {
      font-size: 22px;
   }
   .whats {
      font-size: 20px;
      height: 30px;
      width: 30px;
   }
   .whats:hover {
      border: 2px solid;
   }
   .boxContact {
      margin-top: 10px;
   }
   .barsExp {
      width: 45%;
   }
   .contProfile img {
      margin: 0 auto;
      display: flex;
      width: 140px;
      border-radius: 10px;
   }
   .bar {
      font-size: 20px;
      width: 150px;
   }
   .progress {
      margin-left: 10px;
      height: 10px;
      width: 80px;
   }
   .barsExp {
      display: block;
   }
   .line2 {
      height: 2px;
      width: 95%;
      background: #000000;
      border-radius: 3px;
      margin: 20px auto 0 auto;
   }
}
@media (max-height: 600px) {
   .ProPage {
      height: 400px;
   }
}
