.container {
   height: 100vh;
   background: #a4f7fc;
   background: -webkit-linear-gradient(bottom left, #a4f7fc, #f7b1ff);
   background: -moz-linear-gradient(bottom left, #a4f7fc, #f7b1ff);
   background: linear-gradient(to top right, #a4f7fc, #f7b1ff);
}
