.presentation {
  width: 50%;
}
.boniText h2 {
  color: #fff;
  font-size: 30px;
  line-height: 0;
}
.boniText h3 {
  color: #fff;
}
.boniText p {
  padding-top: 20px;
  color: #fff;
}
.contact {
  display: flex;
  justify-content: center;
  line-height: 0;
  align-items: center;
  border: 2px solid #57feff;
  box-shadow: 0 0 20px 0 #57feff, inset 0 0 20px 0 #57feff;
  height: 60px;
  width: 350px;
  border-radius: 10px;
  margin-top: 50px;
}
.contact p {
  margin-right: 20px;
  font-size: 25px;
  color: #fff;
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.btns a {
  margin-left: 10px;
  background: #5c5d5e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}
/*/////////////////////////////////////*/
.ProPage {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 1080px;
}
.contProfile {
  width: 50%;
}
.contProfile img {
  margin: 0 0 0 auto;
  display: flex;
  padding: 4px;
  width: 400px;
  border-radius: 3px;
  border: 3px solid #fff;
}
.bar {
  font-size: 40px;
  width: 400px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #fff;
  margin: 0 0 0 auto;
}
.progress {
  margin-left: 15px;
  height: 15px;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 3px;
}
.color1 {
  height: 100%;
  width: 90%;
  background: #fff;
}
.color2 {
  height: 100%;
  width: 40%;
  background: #fff;
}
.color3 {
  height: 100%;
  width: 70%;
  background: #fff;
}
.color4 {
  height: 100%;
  width: 80%;
  background: #fff;
}
.color5 {
  height: 100%;
  width: 90%;
  background: #fff;
}
