.topBar {
  position: absolute;
  height: 100px;
  width: 100vw;
  z-index: 1;
  background: #2bc9c8;
}
.contTopBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto 0 auto;
}
.contTopBar h1 {
  color: #ffffff;
  font-size: 50px;
}
.icon a {
  font-size: 50px;
  color: #ffffff;
  margin-left: 15px;
}
