.topBar {
  position: absolute;
  height: 90px;
  width: 100vw;
}
.contTopBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0 auto 0 auto;
}
.icon {
  font-size: 30px;
}
.icon a {
  color: #154360;
  margin-left: 15px;
}
