.topBar {
  position: absolute;
  height: 100px;
  width: 100vw;
  z-index: 1;
}
.contTopBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto 0 auto;
  padding: 0 20px;
}
.contTopBar img {
  height: 50px;
}
.icon {
  border: 3px solid #000000;
  height: 50px;
  border-radius: 4px;
  font-size: 35px;
  line-height: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.icon p {
  margin-right: 10px;
  font-size: 25px;
  font-weight: 500;
}
.icon:hover {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 930px) {
  .topBar {
    height: 70px;
  }
  .contTopBar img {
    height: 40px;
  }
  .icon {
    border: 2px solid;
    height: 40px;
    padding: 0 5px;
    font-size: 30px;
  }
  .icon p {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
  }
}
